<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${product.title}]] &ndash; Shop</title>
</head>
<body>

<a data-th-href="@{/catalogue/products/list}">&larr; Back to products list</a><br>
<a data-th-href="@{/catalogue/products/{productId}/edit(productId=${product.id})}">&rarr; Edit this product</a>

<h1 th:text="${product.title}"></h1>

<ul>
  <li><strong>ID</strong>: <span th:text="*{product.id}"></span></li>
  <li><strong>Name</strong>: <span th:text="*{product.title}"></span></li>
  <li><strong>Details</strong>: <span th:text="*{product.details}"></span></li>
</ul>

<form method="post" th:action="@{/catalogue/products/{productId}/delete(productId=${product.id})}">
    <button type="submit">Delete product</button>
</form>



</body>
</html>